$userCursor: url(../../images/cursor.png), pointer;
$maxWidth: 1200px;
$horizontalAlign: 0 auto;
$userAnimation: all 0.2s linear;
$userRotate: rotate(180deg);

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-style: normal;

  ::-webkit-scrollbar-track {
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #dadee2;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #acb3bb;
  }

  ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 33px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e8ecef;
  padding: 20px 0;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
  }

  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #333e50;
    margin-bottom: 14px;
  }

  &__info {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333e50;
    text-align: justify;
  }

  &__hidden {
    display: none;
  }
}

.navigation {
  background-color: #fff;
  border-bottom: 1px solid #e8ecef;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__item {
    width: calc(100% / 6);
    transition: $userAnimation;
    border-right: 1px solid #f1f4f7;

    &:last-of-type {
      border-right: none;
    }

    &:hover {
      background-color: #f8fbfe;
      cursor: $userCursor;
      transition: $userAnimation;
    }

    &:hover .navigation__text {
      color: #95ce5a;
      transition: $userAnimation;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  &__text {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #333e50;
  }

  &__slider {
    display: none;
  }
}

.card-choose {
  background: none;
  padding: 20px 0;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    color: #adb4bf;
  }

  &__text {
    display: block;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__update {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  &__date {
    margin-left: 5px;
  }

  &__sort {
    margin-left: 24px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #388ec3;
    cursor: $userCursor;
    position: relative;
    display: flex;
    justify-content: start;
  }

  &__sortText {
    color: #adb4bf;
  }

  &__select {
    &_trigger {
      display: inline-block;
      margin-left: 5px;
      border-bottom: 1px dashed #388ec3;
      transition: $userAnimation;
      color: #388ec3;

      &:hover {
        color: #95ce5a;
        border-color: #95ce5a;
        transition: $userAnimation;
        cursor: $userCursor;

        &::after {
          display: inline-block;
          content: url(../../images/arrow_bottom_green.svg);
          transition: $userAnimation;
          transform: $userRotate;
        }
      }

      &::after {
        display: inline-block;
        content: url(../../images/arrow_bottom_blue.svg);
        margin-left: 5px;
        transition: $userAnimation;
      }
    }
  }

  &__list {
    display: none;
    border: 1px solid #fff;
    box-shadow: 0px 5px 15px #cfd2d6;
    background-color: #fff;
    position: absolute;
    width: 250px;
    height: 150px;
    overflow: auto;
    padding-right: 10px;
    box-sizing: border-box;
  }

  &__showItems {
    display: block;
    margin-top: 25px;
    border-radius: 5px;
  }

  &__item {
    color: #333e50;
    padding: 15px;
    border-top: 1px solid #e8ecef;

    &:hover {
      color: #9299a2;
      display: flex;
      justify-content: space-between;

      &::after {
        display: inline-block;
        content: url(../../images/checked.svg);
      }
    }
  }
}

.cards {
  padding: 0 0 20px;

  &:nth-of-type(4) {
    padding: 0;
  }

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    box-shadow: 0px 4px 20px #eef0f2;
    border-radius: 5px;
    background-color: #fff;
  }

  &__info {
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8ecef;
  }

  &__name {
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #388ec3;
    margin-bottom: 5px;
    box-sizing: border-box;

    &:hover {
      cursor: $userCursor;
      color: #95ce5a;
      transition: $userAnimation;
    }
  }

  &__features {
    width: 75%;
  }

  &__types {
    justify-content: start;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #9299a2;
  }

  &__type {
    margin-right: 20px;
    margin-bottom: 12px;
  }

  &__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    align-items: center;
    margin-bottom: 18px;
    color: #333e50;
    text-align: justify;
  }

  &__title {
    display: none;
  }

  &__list {
    margin-bottom: 10px;
  }

  &__item {
    font-size: 16px;
    line-height: 19px;
    color: #333e50;
    margin-bottom: 15px;
    text-align: justify;
    letter-spacing: -0.3px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      display: inline-block;
      content: url(../../images/checked_green.svg);
      margin-right: 10px;
    }

    &_bold {
      font-weight: 900;

      &::before {
        display: none;
      }
    }
    &_normal {
      font-weight: normal;

      &::before {
        display: none;
      }
    }
  }

  &__display {
    margin-left: 20px;

    &_mobile {
      display: none;
    }
  }

  &__icons {
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
  }

  &__icon {
    margin-left: 17px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__popularity {
    padding: 8px 0;
    display: flex;
    justify-content: center;
  }

  &__feedbacks {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #388ec3;
    margin-left: 10px;
    transition: $userAnimation;

    &:hover {
      opacity: 0.8;
      transition: $userAnimation;
      text-decoration: underline;
    }
  }

  &__feedbacks-count {
    color: #388ec3;
    cursor: $userCursor;
  }

  &__footer {
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  &__numbers {
    width: 80%;
    max-width: 860px;
  }

  &__numbers-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__numbers-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #333e50;

    &_normal {
      display: block;
    }

    &_grey {
      font-size: 13px;
      line-height: 16px;
      color: #9299a2;
    }

    &_bold {
      font-weight: 900;
      display: block;
    }
  }

  &__benefits {
    display: flex;
    justify-content: start;
  }

  &__benefit {
    padding: 5px 14px;
    border: 1px solid #dadee2;
    box-sizing: border-box;
    border-radius: 50px;
    margin-left: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    color: #9299a2;
    transition: $userAnimation;

    &:first-of-type {
      margin-left: 0;
    }

    &:hover {
      background: #ff8066;
      color: #ffffff;
      cursor: $userCursor;
      transition: $userAnimation;
    }

    &_active {
      background: #ff8066;
      color: #ffffff;
    }
  }

  &__button {
    background: #95ce5a;
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
    border-radius: 5px;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    padding: 13px 45px;
    display: inline-block;
    align-self: center;
    transition: $userAnimation;

    &:hover {
      cursor: $userCursor;
      box-shadow: 0px 5px 8px rgba(149, 206, 90, 0.8);
      transition: $userAnimation;
      background: #8cc459;
    }

    &:active {
      background: #95ce5a;
      border: 1px solid #333e50;
      box-sizing: border-box;
      box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
      border-radius: 5px;
      color: #333e50;
    }

    &_white {
      background: #ffffff;
      border: 1px solid #dadee2;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: none;
      text-align: center;
      margin: 0 auto;
      color: #333e50;
      min-width: 214px;

      &:hover {
        background-color: #ffffff;
        cursor: $userCursor;
        border: 1px solid #333e50;
        box-sizing: border-box;
        transition: $userAnimation;
        box-shadow: none;
      }

      &:focus {
        background-color: #ffffff;
        cursor: $userCursor;
        border: 1px solid #333e50;
        box-sizing: border-box;
        transition: $userAnimation;
        box-shadow: none;
      }
    }
  }

  &__book_mobile {
    display: none;
  }

  &__count {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: block;
    text-align: center;
    padding-top: 25px;
    color: #adb4bf;
  }

  &__about {
    &_mobile {
      display: none;
    }
  }

  &:last-of-type {
    margin-bottom: 15px;
  }

  &__detailed {
    &_text {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      align-items: center;
      color: #388ec3;
      cursor: $userCursor;
      transition: $userAnimation;

      &::after {
        display: inline-block;
        content: url(../../images/arrow_bottom_blue.svg);
        margin-left: 3px;
        margin-bottom: 2px;
        transition: $userAnimation;
      }

      &:hover {
        color: #95ce5a;
        transition: $userAnimation;
      }

      &:hover::after {
        content: url(../../images/arrow_bottom_green.svg);
        transition: $userAnimation;
        transform: $userRotate;
      }
    }
  }
}

.pagination {
  padding: 15px 0 30px;
  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    box-shadow: 0px 4px 20px #eef0f2;
    border-radius: 5px;
    background-color: #fff;
  }

  &__nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  &__item {
    padding: 13px 19px;
    border: 1px solid #dadee2;
    box-sizing: border-box;
    border-right: none;
    cursor: $userCursor;
    transition: $userAnimation;
    background: #fff;

    &:hover {
      background-color: #aeb4bf;
      transition: &$userAnimation;
    }

    &_prev {
      background: #f7fafc;
      border-radius: 3px 0px 0px 3px;

      &::before {
        display: block;
        content: url(../../images/arrow_left.svg);
      }
    }

    &_next {
      background: #f7fafc;
      border-radius: 0px 3px 3px 0px;
      border: 1px solid #dadee2;

      &::before {
        display: block;
        content: url(../../images/arrow_left.svg);
        transform: $userRotate;
      }
    }

    &_active {
      background-color: #d9dce0;
    }
  }
}

.feedback {
  padding: 0 0 60px;
  box-sizing: border-box;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-image: url(../../images/cards.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 60px);
    padding: 21px;
  }

  &__button {
    padding: 15px 20px;
    background: #95ce5a;
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
    border-radius: 5px;
    border: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    align-self: center;
    cursor: $userCursor;
    transition: $userAnimation;
  }

  &__title {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #333e50;
    margin-bottom: 5px;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #333e50;
  }

  &__info {
    width: 80%;
  }
}

@media (max-width: 1199px) {
  .header {
    padding: 25px 0;

    &__wrapper {
      width: calc(100% - 40px);
    }
  }

  .card-choose {
    &__wrapper {
      width: calc(100% - 40px);
    }

    &__block {
      display: block;
      box-sizing: border-box;
      text-align: left;
    }

    &__text {
      margin-bottom: 10px;
    }

    &__update {
      display: block;
      margin: 0;
    }
  }

  .cards {
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: $horizontalAlign;

    &__book {
      &_mobile {
        display: none;
      }
    }

    &__button {
      box-sizing: border-box;
      width: 260px;
      margin: 0 auto;
    }

    &__numbers {
      width: 100%;
      max-width: 100%;
    }

    &__footer {
      display: block;
    }

    &__display {
      margin: auto 0;
      margin-left: 20px;
    }

    &__benefits {
      margin-bottom: 20px;
    }

    &__features {
      width: 70%;
    }

    &__count {
      display: none;
    }
  }

  .pagination {
    &__wrapper {
      width: calc(100% - 40px);
    }
  }

  .feedback {
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: $horizontalAlign;

    &__wrapper {
      display: block;
      background-image: url(../../images/cards_2.png);
      background-repeat: no-repeat;
      background-position: right;

      & .cards__button {
        max-width: 215px;
      }
    }

    &__text {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__wrapper {
      width: calc(100% - 30px);
    }

    &__title {
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 20px;
    }

    &__hidden {
      display: block;
    }

    &__info {
      height: 62px;
      overflow: hidden;

      &_show {
        height: auto;
      }
    }

    &__detailed {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      color: #388ec3;
      cursor: $userCursor;
      transition: $userAnimation;

      &:hover {
        color: #95ce5a;
        transition: $userAnimation;

        &::after {
          display: inline-block;
          content: url(../../images/arrow_bottom_green.svg);
          transition: $userAnimation;
          transform: $userRotate;
        }
      }

      &::after {
        display: inline-block;
        content: url(../../images/arrow_bottom_blue.svg);
        margin-left: 5px;
        transition: $userAnimation;
      }
    }
  }

  .navigation {
    display: none;

    &__slider {
      display: block;
      cursor: $userCursor;
      background: #fff;
    }

    &__slides {
      border-top: 1px solid #e8ecef;
      border-bottom: 1px solid #e8ecef;
      padding: 10px 15px;
    }

    &__slide {
      width: 50%;
      border-right: 1px solid #e8ecef;
      display: flex !important;
      justify-content: space-between;
      padding: 7px 15px;

      &_img {
        width: 30px;
      }

      &_text {
        margin: auto;
      }
    }
  }

  .card-choose {
    &__wrapper {
      width: calc(100% - 30px);
    }

    &__info {
      display: block;
    }

    &__update {
      margin-bottom: 10px;
    }

    &__sort {
      margin-left: 0;
    }

    &__text {
      margin-bottom: 0;
      width: 80%;
    }
  }

  .cards {
    padding: 0 0 20px;

    &__info {
      padding: 10px 0 0;
      text-align: center;
      border-bottom: none;
    }

    &__name {
      display: block;
    }

    &__types {
      display: block;
    }

    &__type {
      display: block;
      margin-bottom: 10px;
      margin-right: 0;

      &:last-of-type {
        display: none;
      }
    }

    &__display {
      display: none;

      &_mobile {
        display: block;
        margin-left: 0;
      }
    }

    &__img {
      display: flex;
      margin: auto;
    }

    &__icons {
      display: none;
    }

    &__popularity {
      justify-content: center;
    }

    &__features {
      width: 100%;
    }

    &__book {
      padding: 0 10px;
      max-width: 260px;
      display: none;

      &_mobile {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;

        & .cards__count {
          display: none;
        }
      }
    }

    &__list {
      display: none;
    }

    &__numbers {
      display: none;
    }

    &__description {
      display: none;

      &-shown {
        display: block;
        padding: 0 15px;
        box-sizing: border-box;
      }
    }

    &__title {
      padding: 14px 20px;
      font-weight: 900;
      border-top: 1px solid #e8ecef;
      display: flex;
      justify-content: space-between;
      cursor: $userCursor;

      &::after {
        display: inline;
        content: url(../../images/arrow_bottom_grey.svg);
        transition: $userAnimation;
      }

      &:hover::after {
        transition: $userAnimation;
        transform: $userRotate;
      }
    }

    &__footer {
      padding: 0;
    }

    &__about {
      display: block;
      &_mobile {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding: 10px 0 0;
        color: #388ec3;
        transition: $userAnimation;
        border-top: 1px solid #e8ecef;
        padding-bottom: 10px;

        &:hover {
          cursor: $userCursor;
          color: #95ce5a;
          transition: $userAnimation;
        }
      }
    }

    &__numbers-list {
      flex-wrap: wrap;
      padding: 0;
    }

    &__numbers-item {
      width: 50%;
      margin-bottom: 10px;

      &_bold,
      &_normal {
        width: 100%;
        display: flex;
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__benefits {
      flex-wrap: wrap;
    }

    &__benefit {
      margin: auto 0;
      margin-bottom: 5px;
    }

    &__detailed {
      display: none;
    }
  }

  .pagination {
    padding: 0 0 10px;
    &__wrapper {
      background: none;
      box-shadow: none;
    }
  }

  .feedback {
    &__title {
      font-size: 18px;
      line-height: 25px;
    }

    &__text {
      margin-bottom: 15px;
    }

    & .cards__button {
      width: 100%;
      max-width: 170px;
    }
  }
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-slide {
  outline: none;
}
